.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px; 
    height: 20px;
    color: transparent;
    border-radius: 18px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 2px solid transparent;
    backdrop-filter: blur(4px);
    overflow: hidden;
    min-height: 10px;
}

.slides-list { 
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.6s cubic-bezier(.4,0,.2,1);
}

.slide {
    width: 100%;
    flex-shrink: 0; /* Evita que los slides se encojan */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content {
    display: inline-block;
    font-size: auto;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    color: #111;
    width: auto;
    min-width: 0;
    text-align: center;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}

.arrow-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s, transform 0.2s;
    padding: 0.5%;
}

.arrow-btn img {
    width: 20px;
    height: 20px;
    filter: invert(90%) sepia(10%) saturate(1000%) hue-rotate(180deg);
    transition: all 0.8s ease;
}

.arrow-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    transform: scale(1);
}

.arrow-btn img:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
}

.controls {
    display: none; /* Oculta el contenedor de botones anterior */
}

button:not(.arrow-btn) {
    background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 px;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(0,123,255,0.10);
    transition: background 0.3s, transform 0.2s;
    font-weight: 600;
    letter-spacing: 0.5px;
}

button:not(.arrow-btn):hover, button:not(.arrow-btn):focus {
    background: linear-gradient(90deg, #0072ff 0%, #00c6ff 100%);
    transform: translateY(-2px) scale(1.04);
    outline: none;
}

