
.FastPageControl{
    display : flex;
    position : absolute;
    background-color : rgba(0,0,0,0);
    color : white;
    align-items : center;
    justify-content : center;
    transition: 0.1s box-shadow;
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    border-color: rgba(161, 163, 157, 0.774);
    padding: 10px;
    gap:10px;
}

.FastPrincipalBadge{
    display : flex;
    height : 30px;
    padding : 5px;
    line-height: 30px;
    background-color : rgb(6, 77, 73);
    color : yellow;
    font-family : Trebuchet MS;
    font-size : 11px;
    font-weight: bold;
    align-items : center;
    justify-content : center;
    border : 0px;
    height: var(--diametro);
    width:var(--diametro);
    border-radius: 50%;
    transition: 0.1s box-shadow;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.FastPageControl:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    color : orange;
    cursor:pointer;
}
