:host {
    display: block;
    margin: 20px;
}

.FieldSet {
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px; 
    position: relative;
    background: linear-gradient(90deg, rgba(94, 209, 255, 1) 0%, rgba(99, 255, 182, 1) 100%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.Title {
    position: absolute;
    top: -14px;
    left: 20px;
    border-radius: 8px;
    background: rgb(14, 207, 172);
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.1em;
    opacity: 0;
}


/* Cuando tiene contenido, se activa animación */
.Title:not(:empty) {
    animation: enterFromRight 0.5s ease forwards;
}

/* Definición de la animación */
@keyframes enterFromRight {
    0% {
        transform: translateX(100%) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}



.Row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Field {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 300px;
}

.Field input,
.Field textarea {
    width: 250px;
    padding: 5px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
}

.Field input:focus,
.Field textarea:focus {
    border: 3px solid black;
}

.Field input,
.Field textarea {
    animation: enterFromRight 0.5s ease forwards;
}
