.FastCalendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 25%;
    height:auto;

    padding: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
}

.FastCalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 4%;
    /*background-color: #1d46eb;*/
    background-color : rgb(8, 143, 136);
    border-radius: 0vw;
    box-shadow: 0 0 .2vw rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.container-inputs-date{
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: center;
    width: 40%;
    height: 1.5vw;
    font-size: 1em;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 1vw;
    position: relative;
}

.input{
    width: 85%;
    height: 70%;
    text-align: center;
    margin: auto 4%;
    /*border-radius: .3vw;*/
    border: none;
    border-bottom: .1vw solid #FFF;
    color: #FFF;
    background: none;
}

.firts-input{
  margin:auto 4% auto -.2vw;
}

.last-input{
  margin:auto 0 auto .5vw;
}

.label-input{
    position: absolute;
    top: -30%;
    font-size: 1.5vw;
    font-weight: bold;
    color: #FFF;
}


.label-left{
    left: 32%;
}

.label-center{
    left: 64%;
}

.header-select{
  background: none;
  border: none;
  color: #FFF;
}

.header-select:focus{
  background: none;
  border: none;
  color: #000;
}



.toggle-button{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4% 3%;
    border-radius: 1.5vw;
    border: none;
    text-align: center;
    margin-top: .1vw;
    transition: all .5s ease;
    cursor: pointer;
}

.arrow-up{
    transform: rotateZ(90deg);
}

.arrow-down{
    transform: rotateZ(-90deg);
}

.FastCalendarBody {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4%;
    border-radius:0 0 1vw 1vw;
    background-color: #FFF;
    box-shadow: .2vw .2vw rgba(0, 0, 0, 0.1);
    transform-origin: top;
    overflow: hidden;
    animation-fill-mode: forwards;
    transition: all 2s ease;
}

.FastCalendarSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-select-month, .container-select-year{
    border: none;
    /*border-bottom: .1vw solid #1d46eb;*/
    border-bottom: .1vw solid rgb(8, 143, 136);
    padding: .5vw;
    margin-bottom: .5vw;
}

.container-header-days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    color: #FFF;
    /*background-color: #1d46eb;*/
    background-color: rgb(8, 143, 136);
    margin: 0 1vw;
    padding: 0 1vw;
}

.container-body-days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-days{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: start;
    width: 2vw;
    height: 100%;
    max-height: 38vh;
    text-align: center;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toggle-button:hover{
  scale: 1.2;
}

.current-day {
    background-color: rgb(8, 143, 136);
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}




@keyframes show {
  0% {
    height: 0;
    transform: scaleY(0);
    opacity: 0;
  }
  25% {
    height: 25%;
    opacity: 1;
  }
  50% {
    height: 50%;
  }

  75% {
    height: 75%;
  }

  100% {
    height: 100%;
    transform: scaleY(1);
  }
}

@keyframes hiden {
  0% {
    height: 100%;
    transform: scaleY(1);
    opacity: 1;
  }
  25% {
    height: 75%;
  }
  50% {
    height: 50%;
  }

  75% {
    height: 25%;
  }

  100% {
    height: 0%;
    opacity: 0;
    transform: scaleY(0);
  }
}
