
.FastGrid{
    display : grid;
    position : absolute;
    left : 0px;
    top : 0px;
    background-color : rgb(8, 143, 136);
    color : white;
    align-items : center;
    justify-content : center;
    border : 0px;
    transition: 0.1s box-shadow;
    width: 25%;
    height:25%;
}

.FastGridTitle{
    display:flex;
    background-color: rgba(0,0,0,0);
}

.FastGridBody{
    display:flex;
    background-color: rgba(0,0,0,0);
}

.FastGridColumn{
    display:flex;
    background-color: rgba(0,0,0,0);
}

.FastGridControl{
    display:flex;
    background-color: rgba(0,0,0,0);
}

.FastGrid:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    color : orange;
    cursor:pointer;
}
