:host {
    display: block;
    margin: 20px;
}

.FieldSet {
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgba(128, 128, 128, 0.269);
    border-radius: 8px;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px; 
    position: relative;
    background: white;
}

.Title {
    position: absolute;
    top: -14px;
    left: 20px;
    border-radius: 8px;
    background:white;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.1em;
    opacity: 0;
}

.Title:not(:empty) {
    animation: enterFromRight 0.5s ease forwards;
}

@keyframes enterFromRight {
    0% {
        transform: translateX(100%) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.Row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Field {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 300px;
}

.Field input,
.Field textarea {
    width: 250px;
    padding: 5px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgba(128, 128, 128, 0.269);
    border-radius: 8px;
    background-color: white;
    animation: enterFromRight 0.5s ease forwards;
}

.Field input:focus,
.Field textarea:focus {
    border: 3px solid gray;
}

.Field button {
    width: 120px;
    padding: 6px 12px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.269);
    border-radius: 8px;
    cursor: pointer;
    animation: enterFromRight 0.5s ease forwards;
    transition: border 0.3s, background-color 0.3s;
}

.Field button:hover {
    border: 2px solid gray;
    background-color: #f0f0f0;
}

.ButtonRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
